@tailwind base;
@tailwind components;
@tailwind utilities;

/* stars */

/* planets */
.floating{
    animation-name: float;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}

.gradient-background{
    background: linear-gradient(180deg, rgb(15, 25, 59) 35%, rgb(147, 197, 253) 99%);
}

.gradient-background-water{
    background: linear-gradient(180deg, #71acad 0%, #018af5 50%, #001a2f 100%);
}

/* curiosity objects */
.international-space-station{
    animation-name: normalmove;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}

.moon{
    animation-name: moonmove;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}

.plane1{
    animation-name: plane1animation;
    animation-duration: 13500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}

.plane2{
    animation-name: plane2animation;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}

.plane3{
    animation-name: plane3animation;
    animation-duration: 10500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}

.fish-group{
  animation-name: fishgroupanimation;
  animation-duration: 30000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
}

.fish-group-2{
  animation-name: plane1animation;
  animation-duration: 27000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
}

#asteroid{
    background-image: url("../assets/asteroid.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation-name: move;
    animation-duration: 6300ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}
#asteroid1{
    background-image: url("../assets/asteroid.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation-name: move;
    animation-duration: 9500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}
#asteroid2{
    background-image: url("../assets/asteroid.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation-name: move;
    animation-duration: 8100ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}

.stars {
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    background: url("../assets/stars-background.png") repeat top center;
    z-index:0;
}

.no-stars {
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    background: transparent;
    z-index:0;
}

.city{
    width: 100%;
}

.titanic{
    width: 100%;
}

.opacity-transition{
    transition: opacity 0.5s ease;
}


.message{
    background-image: url("../assets/message.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
        transform: translate(20);
    }
    to {
        transform:rotate(360deg);
        transform: translate(200);
    }
}

@keyframes normalmove {
  from{transform: translateX(-30rem) translateY(-6rem);}
  to{transform: translateX(200vw) translateY(-6rem);}
}

@keyframes moonmove {
      0% {
        transform: translate(-300rem, -30rem) scale(3,3);
      }
      100% {
        transform: translate(500vw, 0) scale(3,3);
      }
}

@keyframes plane1animation {
  from{transform: translateX(200vw) translateY(-6rem);}
  to{transform: translateX(-30rem) translateY(-6rem);}
}

@keyframes plane2animation {
  from{transform: translateX(200vw) translateY(0rem);}
  to{transform: translateX(-30rem) translateY(0rem);}
}

@keyframes plane3animation {
  from{transform: translateX(-30rem) translateY(10rem);}
  to{transform: translateX(200vw) translateY(0rem);}
}

@keyframes fishgroupanimation {
  from{transform: translateX(-50rem) translateY(10rem);}
  to{transform: translateX(200vw) translateY(10rem);}
}

@keyframes move {
  from{transform: translateX(-10rem) rotate(300deg);}
  to{transform: translateX(150vw) rotate(450deg);}
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
  }
}