@tailwind base;
@tailwind components;
@tailwind utilities;

/* stars */

/* planets */
.floating{
    animation-name: float;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}

.gradient-background{
     background: linear-gradient(180deg, rgb(15, 25, 59) 35%, rgb(147, 197, 253) 99%);
}

#asteroid{
    background-image: url("../assets/asteroid.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation-name: move;
    animation-duration: 6300ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}
#asteroid1{
    background-image: url("../assets/asteroid.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation-name: move;
    animation-duration: 9500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}
#asteroid2{
    background-image: url("../assets/asteroid.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation-name: move;
    animation-duration: 8100ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}

.stars {
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    background: url("../assets/stars-background.png") repeat top center;
    z-index:0;
}

.no-stars {
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    background: transparent;
    z-index:0;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
        transform: translate(20);
    }
    to {
        transform:rotate(360deg);
        transform: translate(200);
    }
}

@keyframes move {
  from{transform: translateX(-10rem) rotate(300deg);}
  to{transform: translateX(150vw) rotate(450deg);}
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
  }
}